# {{ ansible_managed }}
#
# mpd - Music Player Daemon
#
# Start the Music Player Daemon (MPD) service
# for network access to the local audio queue.

description	"Music Player Daemon"

start on runlevel [2345]
stop on runlevel [!2345]

pre-start script
    test -x {{ ansible_install_mpd_executable }} || { stop; exit 0; }
    echo "[$(date)] Music Player Daemon starting" >> /var/log/syslog
end script

exec {{ ansible_install_mpd_executable }} {{ ansible_install_mpd_conf }}

pre-stop script
    echo "[$(date)] Music Player Daemon stopping" >> /var/log/syslog
end script
